.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transform: translateY(-60px);
  &__logo {
    width: 150px;
    margin-left: -20px;
  }
  .fa-house,
  .fa-user,
  .fa-right-from-bracket {
    margin-left: 7px;
    color: $primary-color;
  }
}
